#nama{
	border:2px solid #FBFBFB;
	padding-left:2px;
	padding-right:2px;
	float:left;
	margin-top:4px;
	margin-right:8px;
	font-family: 'Pacifico', cursive;
    }

    .nav-link:active{
        background-color:aliceblue;
    }

    #content{
        padding-top: 50px;
    }
    
    #nama:visited, #nama:link, #nama:hover{
	    color:#FBFBFB;
    }

    .container{
        padding-top:10px;
        padding-bottom:10px;
    }


    .subject{
        font-size: 20px;
        font-family: "Comic Sans MS";
        color: #6650ff;
    }
    .value{
        font-size: 20px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: #ff102c;
    }

.navbar{
    background-color: #F38181 !important;
}
