<div class="dropdown show">
    <p>
        Pilih role mu:
    </p>
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% if role %}
            {{role}}
        {% else %}
            Pilih Role
        {% endif %}
    </a>
    
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href={% url 'registrasi-user:form-sponsor' %}>Sponsor</a>
        <a class="dropdown-item" href={% url 'registrasi-user:form-donatur' %}>Donatur</a>
        <a class="dropdown-item" href={% url 'registrasi-user:form-relawan' %}>Relawan</a>
    </div>
</div>