<!-- Nama: [Isian]
Email: [Isian]
Password: [Isian]
Kecamatan: [Isian]
Kabupaten: [Isian]
Provinsi: [Isian]
Kode Pos: [Isian]
Jalan/Desa/Keluarahan/No.Rumah: [Isian]
Tanggal Lahir: [Isian tanggal]
Nomor Handphone: [Isian]
Keahlian yang Dimiliki: [Isian] -->
<form>
    <div class="form-row">
        {% include 'registrasi_user/user/user.html' %}
        <input type="hidden" name="role" value="relawan">
        <div class="form-group">
            <label for="tl-relawan">Tanggal Lahir</label>
            <input name='ttl' type="date" class="form-control" id="tl-relawan" placeholder="Tanggal Lahir">
        </div>
        <div class="form-group">
            <label for="nohp-relawan">Nomor Handphone</label>
            <input name='nohp' type="text" class="form-control" id="nohp-relawan" placeholder="Nomor Handphone">
        </div>
        <div class="form-group">
            <label for="keahlian-relawan">Keahlian</label>
            <input name='keahlian' type="text" class="form-control" id="keahlian-relawan" placeholder="Keahlian yang dimiliki...">
        </div>
        <div class="submit">
            <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        </div>
    </div>
</form>
