<!-- Nama Sponsor: [Isian]
Email: [Isian]
Password: [Isian]
Kecamatan: [Isian]
Kabupaten: [Isian]
Provinsi: [Isian]
Kode Pos: [Isian]
Jalan/Desa/Keluarahan/No.Rumah: [Isian]
Logo: [Upload file] -->

<form>
    <div class="form-row">
        {% include 'registrasi_user/user/user.html' %}    
        <input type="hidden" name="role" value="sponsor">   
        <div class="form-group">
            <label>Logo</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Upload</span>
                </div>
                <div class="custom-file">
                    <input name="logo" type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Upload your logo</label>
                </div>
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </div>
        </div>
    </div>
    
</form>

