
<div class="form-group col-md-12">
    <label for="nama-relawan">Nama</label>
    <input type="text" class="form-control" id="nama-relawan" placeholder="Nama">
</div>
<div class="form-group col-md-6">
    <label for="email-relawan">Email</label>
    <input type="email" class="form-control" id="email-relawan" placeholder="Email">
</div>
<div class="form-group col-md-6">
    <label for="password-relawan">Password</label>
    <input type="password" class="form-control" id="password-relawan" placeholder="Password">
    </div>
</div>
<div class="form-group">
    <label for="Kecamatan-relawan">Kecamatan</label>
    <input type="text" class="form-control" id="kecamatan-relawan" placeholder="Kecamatan">
</div>
<div class="form-group">
    <label for="kabupaten-relawan">Nama</label>
    <input type="text" class="form-control" id="kabupaten-relawan" placeholder="Kabupaten">
</div>
<div class="form-group">
    <label for="provinsi-relawan">Provinsi</label>
    <input type="text" class="form-control" id="provinsi-relawan" placeholder="provinsi">
</div>
<div class="form-group">
    <label for="kodepos-relawan">Kode Pos</label>
    <input type="text" class="form-control" id="kodepos-relawan" placeholder="kode pos">
</div>
<div class="form-group">
    <label for="alamat-relawan">Alamat</label>
    <input type="text" class="form-control" id="alamat-relawan" placeholder="Jalan/Desa/Keluarahan/No.Rumah">
</div>

    