{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
            {% block title %} {% endblock %} By {{author}}
    </title>
    <link rel="shortcut icon" href="{% static '/img/muslim-woman.png' %}" type="image/vnd.microsoft.icon">    
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css">   
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Acme|Courgette|Exo|Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}" />
    {% block css %}
    {% endblock %}
    {% block js%}
    {% endblock %}
</head>

<body>
    <header>
       {% block header %}  
       {% include 'login/layout/header.html' %}
       {% endblock %}
    </header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    {% include 'login/layout/footer.html' %}
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>

<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js" type="text/javascript"></script>


{% block script %}
{% endblock %}
</html>
