
<nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fas fa-bars"></i></span>
  </button>
    <div id="navbar-collapsed" class="collapse navbar-collapse float-xs-left">
      <!-- <div class="navbar-brand">
          <img src="#" alt="logo navbar">
      </div> -->

      <a id="nama" href={% url 'index' %} style="color: #FBFBFB">SION</a>
      <ul class="nav navbar-nav float-xs-left">

        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">
            Profil</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">
            Lihat Organisasi</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">
            Berdonasi ke Organisasi</a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">
            Berdonasi ke Kegiatan</a>  
        </li>
      </ul> 
      <div class="justify-content-end">
        <ul class="nav navbar-nav float-right" >
         <li class="nav-item float-right">
          <a class="nav-link" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">
            Logout</a>  
        </li>
      </ul> 
    </div> 

</nav>
