
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#navbar-collapsed">
        <!--&#9776;-->
    </button>
    <div id="navbar-collapsed" class="collapse navbar-toggleable-xs float-xs-left">
      <!-- <div class="navbar-brand">
          <img src="#" alt="logo navbar">
      </div> -->

      <a id="nama" href={% url 'index' %}>SION</a>
      <ul class="nav navbar-nav float-xs-left">

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">My Portofolio</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href={% url 'index' %}>SION</a>  
          </div>
        </li> -->
      </ul> 
    </div> 

</nav>
