
<nav class="navbar navbar-expand-lg fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-bars"></i></span>
      </button>
        <div id="navbar-collapsed" class="collapse navbar-collapse float-xs-left">
          <!-- <div class="navbar-brand">
              <img src="#" alt="logo navbar">
          </div> -->
    
          <a id="nama" href={% url 'index' %} style="color: #FBFBFB">SION</a>
     
          <div class="ml-auto">
            <ul class="nav navbar-nav float-right" >
                <li class="nav-item float-right">
                    <a class="nav-link" href="{% url 'registrasi-user:index' %}" role="button" aria-haspopup="true" aria-expanded="false">
                    Registrasi User</a>  
                </li>
          </ul> 
        </div> 
    
    </nav>
    